/plugins/cordova-plugin-whitelist/nbproject/private/
/nbproject/private/
/platforms/browser/www/node_modules/
/platforms/android/assets/www/node_modules/
/www/nbproject/private/
/platforms/android/assets/www/nbproject/private/
/www_nb_temp/node_modules/
/www_nb_temp/nbproject/private/
/www_nb_temp/platforms/android/assets/www/nbproject/private/
/www_nb_temp/platforms/android/assets/www/node_modules/
/www_nb_temp/www/nbproject/private/
/www_nb_temp/www/node_modules/